doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title SunPro C89 特設ページ
		link(rel='stylesheet', href='assets/index.css')
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/manifest.json')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		link(rel='canonical', href='https://sunpro.io/c89/')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='msapplication-TileImage', content='/mstile-144x144.png')
		meta(name='theme-color', content='#de5920')
		script(src='https://use.typekit.net/lnq1swp.js')
		script
			include index.js
	body
		.header-wrap
			header
				h1.tk-museo.pure-g
					span.img-before.pure-u-1.pure-u-md-1-3 SunPro
					span.img.pure-u-1.pure-u-md-1-3
						img(src='images/logo.png', alt='ロゴ')
					span.img-after.pure-u-1.pure-u-md-1-3 C89

				p.place.pure-u-1 3日目 東ム-45a
				
				.share
					a.twitter-share-button(
						href='https://twitter.com/intent/tweet?' + qs.stringify({
							text: 'SunPro C89特設サイト',
							hashtags: 'C89,SunPro',
						}),
						data-size='large'
					) ツイート

		.body
			h1.pure-u-1 頒布情報

			h2 「SunPro会誌 2016」
			
			.share
				a.twitter-share-button(
					href='https://twitter.com/intent/tweet?' + qs.stringify({
						text: 'SunPro会誌 2016 | SunPro C89特設サイト',
						hashtags: 'C89,SunPro',
					}),
					data-size='large'
				) ツイート

			.publication
				.left
					.cover
						img(src='images/cover.jpg')

				.right
					a(href='https://github.com/SunProIO/SunPro-C89')
						.github-link
							span.mega-octicon.octicon-mark-github

					.articles
						each article in catalog
							.article
								h3.title
									//- https://github.com/pugjs/jade/issues/2198
									if article.chapters
										a(href='pub/' + article.slug + '/' + article.chapters[0].slug)
											= article.title
											small.author(rel='author')= article.author
									else
										a(href='pub/' + article.slug + '/' + article.slug + '.pdf')
											= article.title
											small.author(rel='author')= article.author

								ul.links
									each format in article.formats
										if format === 'html'
											- link = 'pub/' + article.slug + '/' + article.chapters[0].slug
										else if format === 'pdf'
											- link = 'pub/' + article.slug + '/' + article.slug + '.pdf'
											
										a(href=link)
											li.link(class='link-' + format)
												= format.toUpperCase()
												if format === 'pdf'
													small.filesize (#{Math.round(article.pdfsize / 100) / 10}MB)
