<%# [@body, @title, @toc, @next, @prev, @builder, @language, @stylesheets, @template] %>
<%= this %>
<!DOCTYPE html>
<html lang="<%= @language %>">
	<head>
		<meta charset="UTF-8">
		<link href="../assets/style.css" rel="stylesheet" type="text/css">
		<% if @next.present? %>
			<link rel="next" href="<%= @next.name %>">
		<% end %>
		<% if @prev.present? %>
			<link rel="prev" href="<%= @prev.name %>">
		<% end %>
		<meta content="Re:VIEW" name="generator">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" charset="utf-8"></script>
		<script src="../assets/reader.js" charset="utf-8"></script>
		<title><%= @title %> - SunPro会誌 2016</title>
	</head>
	<body>
		<header class="header">
			<img class="logo" src="../assets/web-header-logo.svg" alt="SunPro 2016" />
		</header>
		<div class="body-wrap">
			<%= @body %>
		</div>
		<footer class="footer">
			<div class="prev-button nav-button">
				<% if @prev.present? %>
					<a href="<%= @prev.name %>">PREV</a>
				<% else %>
					<a class="disabled">PREV</a>
				<% end %>
			</div>
			<div class="next-button nav-button">
				<% if @next.present? %>
					<a href="<%= @next.name %>">NEXT</a>
				<% else %>
					<a class="disabled">NEXT</a>
				<% end %>
			</div>
		</footer>
	</body>
</html>
