<%# [@body, @title, @toc, @next, @prev, @builder, @language, @stylesheets, @template] %>
<!DOCTYPE html>
<html lang="<%= @language %>">
	<head>
		<meta charset="UTF-8">
		<link href="../assets/style.css" rel="stylesheet" type="text/css">
		<% if @next.present? %>
			<link rel="next" href="<%= @next.name %>">
		<% end %>
		<% if @prev.present? %>
			<link rel="prev" href="<%= @prev.name %>">
		<% end %>
		<meta content="Re:VIEW" name="generator">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= @title %> - SunPro会誌 2016</title>
	</head>
	<body>
		<header class="header">
			<img class="logo" src="../assets/web-header-logo.svg" alt="SunPro 2016" />
		</header>
		<div class="body-wrap">
			<%= @body %>
		</div>
	</body>
</html>
